<div class="jumbotron">
  <h2>Cunning stunts</h2>
  <p class="pull-right">... in two dimensions</p>
</div>

<div>
    <div class="form-group">
        <h3>
            Firefly JSON Shipping Labels
            <a ng-href="/#/label/json/view" class="btn btn-info pull-right" id="btn_json_view">Firefly JSON</a>
        </h3>
        <h3>
            DHL XML Shipping Labels
           <a ng-href="/#/label/xml/view" class="btn btn-primary pull-right" id="btn_xml_view">DHL XML</a>
        </h3>
    </div>
</div>