
<div ng-controller="JsonCtrl as jc">

    <div>
        <div class="form-group">
            <h3>
                <a ng-href="/#/" class="btn btn-default pull-right" id="btn_json_view">Home</a>
            </h3>
            <h3>
                Firefly JSON Shipping Labels
                <a ng-href="/#/label/json/create" class="btn btn-primary pull-right" id="btn_json_create">Add JSON Entry</a>
            </h3>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter JSON entries...">
            <hr>
        </div>

        <table id="entry_list" class="table table-striped">
            <thead>
            <tr>
                <th>JSON entry name</th>
                <th>JSON type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in jc.entries | filter:searchText">
                <td>
                    {{ entry.jsonName }}
                </td>
                <td>
                    {{ entry.jsonType }}
                </td>
                <td>
                    <a ng-href="/#/label/json/update/{{entry.jsonName}}/{{entry.jsonType}}" class="btn btn-success pull-right" id="btn_json_update">Edit</a>
                </td>
            </tr>
            <tr ng-hide="jc.entries.length">
                <td colspan="3">
                    <p class="text-center">No JSON Entries Found</p>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>
            Debug
        </h3>
        <hr>
        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <pre>{{ jc.entries | json }}</pre>
            </accordion-group>
        </accordion>
    </div>

</div>
